@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes brandScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.brand-scroll {
  animation: brandScroll 20s linear infinite;
}